.carousel-container {
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100vw;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    min-width: 100vw;
    height: auto;
}

.carousel-slide a {
    display: block;
    width: 100vw;
}

#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    color: white;
    border-radius: 50%;
    background-color: #e29edb;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border: none;
}

#next {
    right: 20px;
}

#prev {
    left: 20px;
}

#prev::before {
    transform: rotate(135deg);
}

#next::before {
    transform: rotate(-45deg);
}
